body{
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    
}

header{
    width: 100%;
}


.header-list {
    width: 100%;
    list-style-type: none; 
    padding-left: 0;      
    display: flex;  
    align-items: center;
    gap: 20px;
}

.header-list li {
    display: inline;
    border: solid black 1px;
}

#logo {
    width: 25px;
    height: 25px;
}



.banner{
    margin-top: 10px;
    border: solid black 1px;
    width: 80%;
    height: 350px;
    font-size: 150px;
    text-align: center;
}

.head{
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    margin-top: 10px;
    padding-top: 10px;
    background-color: bisque;
}


#zdjecia{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
}

.opis{
    margin-top: 10px;

    border: solid black 1px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opis div{
    margin: 5px 5px 5px 5px;
    border: solid black 1px;
    justify-content: space-between;
    width: 30%;
}

footer{
    width: 80%;
    padding-top: 20px;
    text-align: center;
    border: solid black 1px;
}