body{
    
}
.baner{
    width: 100%;
    height: 200px;
    background-image: url("background.webp");
}
.baner:hover{
    width: 100%;
    height: 200px;
    background-image: url("background.webp");
}
.menu{
    
}
.srodek{

}
.stopka{
}