body {
    margin: 0px;
    background-color: deepskyblue;
}

section {
    height: 250px;
    border: solid 3px black;
    border-radius: 10px;
    margin: 10px;
    background-color: bisque;
    text-align: center;
}

#obramowany {
    font-size: 30px;
    display: inline;
    border-width: 5px;
    border-style: solid;
    border-color: aqua;
}